.editor-field_type {
    .editor {
        position: relative;

        > a {
            top: 15px;
            right: 15px;
            opacity: 0.5;
            z-index: 100;
            color: white;
            cursor: pointer;
            font-size: 18px;
            line-height: 16px;
            position: absolute;

            &:hover {
                opacity: 1;
            }
        }
    }

    &.fullscreen {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1150;
        position: fixed;

        > label,
        > p {
            display: none;
        }
    }
}

// Contextual Variations
// --------------------------------------------------

.has-danger {
    .ace_editor {
        border: 1px solid @brand-danger;
    }
}

.has-success {
    .ace_editor {
        border: 1px solid @brand-success;
    }
}

.has-warning {
    .ace_editor {
        border: 1px solid @brand-warning;
    }
}

.has-info {
    .ace_editor {
        border: 1px solid @brand-info;
    }
}

.ace_content {
    transition: background .5s linear;
    background-color: transparent;

    &.dz-drag-hover {
        background-color: rgba(103, 58, 183, 0.5);
    }
}

.droppedFilesContainer {
    background: #607D8B;
    text-align: center;
    padding: 40px;

    .dz-preview {
        display: inline-block;
        position: relative;
        width: 150px;
        text-align: center;
        margin: 15px;

        .dz-progress {
            height: 120px;
            width: 120px;
            background-color: rgba(255, 245, 157, 0.3);
            position: absolute;
            top: 0px;
            left: 15px;

            span.dz-upload {
                height: 100%;
                display: block;
                background-color: rgba(141, 110, 99, 0.5);
            }
        }

        .dz-success-mark, .dz-error-mark {
            display: inline-block;
            position: absolute;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            cursor: pointer;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -25px;
            transition: opacity .5s linear, transform .3s ease-out;

            svg path {
                fill: #eceff1;
            }
        }

        .dz-error-mark {
            background: #d32f2f;
        }

        .dz-success-mark {
            background: #388e3c;
        }

        &.dz-success > .dz-success-mark {
            z-index: 3;
        }

        &.dz-error > .dz-success-mark {
            opacity: 0;
            z-index: 0;
        }

        &:hover {

            &.dz-success {

                > .dz-progress {
                    background-color: transparent;

                    > .dz-upload {
                        background-color: transparent;
                    }
                }
            }

            > .dz-error-mark {
                transform: translateY(30px);
            }

            > .dz-success-mark {
                transform: translateY(-30px);
            }
        }

    }
}
